<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href="@Url.Action("Home","Index")">
                        <i class="fe-airplay"></i>
                        <span> Trang chủ </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","User")">
                        <i class="fa fa-user"></i>
                        <span> Tài khoản </span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Category")">
                        <i class="fe-book"></i>
                        <span> Loại sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Product")">
                        <i class="fe-package"></i>
                        <span> Sản phẩm</span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
